html, body {
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
    align-items: center;
}

ul {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

button {
    padding: 8px 30px;
    background-color: #3882F6;
    border-radius: 8px;
    border:none;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header button {
    margin-top: 20px;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    gap: 50px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.header-top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 20px;
    width: 100%;
}

.header-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
    margin: 10px 20px;
    flex: 1;
    min-width: 0;
}

.header-left {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 350px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
}

.title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.header-text, .header-links ul a{
    font-size: 18px;
    color: #e5e7eb;
}

.header-links ul {
    display: flex;
    gap: 20px;
}

.header img {
    width: 600px;
    height: auto;
    flex-shrink: 1;
    flex-basis: 0;
}

.center {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.center-images {
    display: flex;
    gap: 100px;
}

.info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-width: 150px;
}
.subtext {
    text-align: center;
}

.center-title {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.info img {
    width: 150px;
    height: auto;
    border: solid 4px #1F2937;
    border-radius: 8px;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    max-width: 750px;
    display: flex;
    justify-content: center;
}

.author {
    margin-top: 0;
    width: 750px;
    text-align: end;
    padding-right: 25px;
}

.call {
    display: flex;
    background-color: #3882F6;
    align-items: center;
    border-radius: 8px;
    margin: 100px;
    gap: 150px;
    padding: 25px 100px;
}

.call-to-action {
    display: flex;
    flex-direction: column;
    color: #F9FAF8;
}

.call-title {
    font-size: 18px;
    font-weight: bold;
}

.call button {
    border: solid white 2px;
    border-radius: 8px;
    flex-shrink: 0;
}

.footer {
    background-color: #1F2937;
    display: flex;
    width: 100%;
    color: #e5e7eb;
    justify-content: center;
    padding: 25px;
}